{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-11 col-md-3 mx-auto mt-5">
            <h3>{{ view.title }}</h3>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn">Save</button>
                <a href="{% url 'index' %}" class="btn text-danger">Cancel</a>
            </div>
            </form>
        </div>
    </div>
{% endblock content %}
